$blue-950: hsl(256, 26%, 20%);
$blue-500: hsl(216, 30%, 68%);
$gray-950: hsl(270, 9%, 17%);
$gray-700: hsl(273, 4%, 51%);
$gray-500: hsl(282, 15%, 83%);
$gray-50: hsl(0, 0%, 98%);

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

@import './general';
@import './nav';
@import './header';
@import './diff';
@import './find';
@import './footer';
